// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,400&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Font awesome icons
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

//Datetable css
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';

//Datatable responsive css
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';

//Summernote css
@import '~summernote/dist/summernote.css';

//Bootstrap select
@import '~bootstrap-select/sass/bootstrap-select.scss';

//Owl carousel
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.7;
	font-weight: 400px;
	font-size: 14px;
	color: #505050;
	background-color: #ffffff;

	@media (max-width: 576px) {
		overflow-x: hidden !important;
		background-color: #ffffff;
	}
}

@media (max-width: 576px) {
	.search-bar {
		width: 85% !important;
		margin-right: 10px;
	}
}

/*Backend */
/* Navbar */
#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;

	@media (min-width: 768px) {
		margin-left: 0;
	}

	.sidebar-heading {
		padding: 0.875rem 1.25rem;
		font-size: 1.2rem;
	}

	.list-group {
  		width: 15rem;
	}
}

@media (max-width: 992px) {
	#sidebar-wrapper .sidebar-heading {
	  padding: 0.67rem 1.25rem;
	}
}	

#page-content-wrapper {
	background-color: #ecf0f5;
	min-width: 100vw;

	@media (min-width: 768px) {
		min-width: 0;
		width: 100%;
	}
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;

	@media (min-width: 768px) {
		margin-left: -15rem;
	}
}

/* Backend Navbar end */

.dtr-data {
	white-space: normal;
}

.datetable-title {
	width: 500px;
}

.bg-light-inside {
	background-color: #e6e6e6;

	&:hover {
		background-color: #b9b9b9;
	}
}

.backend-card {
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: #ffffff;
	border-radius: .25rem;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.backend-card-title {
	font-size: 1.5rem;
}

.backend-image {
	width: 100%;
	max-width: 400px;
	max-height: 300px;
	object-fit: cover;
}

.backend-image-xs {
	width: 100%;
	max-width: 100px;
	max-height: 100px;
	object-fit: cover;
}


.custom-file-input ~ .custom-file-label::after {
    content: "Seleccionar archivo";
}
/* Backend end */

.separatorRow {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.logo {
	width: 10%;
}

.navbar-front {
	background-color: #ffffff !important;
}

.nav-item-front {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.separator{
    position: relative;
    text-align: left;
    margin-bottom: 15px;

    &:before {
	    content: '';
	    border-style: solid;
	    border-width: 0 0 1px 0;
	    position: absolute;
	    left: 0;
	    top: 50%;
	    width: 100%;
	    padding-left: 50px;
	    border-color: #EBEBEB;
	}

    h1 {
		background-color:#ffffff;
		display: inline-block;
		position: relative;
		padding-right: 30px;
		font-size: 24px;
		color: #505050;
		font-weight: 700;
    }

	h2 {
	    background-color:#ffffff;
	 	display: inline-block;
	    position: relative;
	    padding-right: 30px;
	    font-size: 21px;
	    color: #505050;
	    font-weight: 700;
	}

	h3 {
	    background-color:#ffffff;
	 	display: inline-block;
	    position: relative;
	    padding-right: 30px;
	    font-size: 18px;
	    color: #505050;
	    font-weight: 600;
	}
}


.custom-h2 {
	background-color:#ffffff !important;
 	display: inline-block !important;
    position: relative !important;
    padding-right: 30px !important;
    font-size: 21px !important;
    color: #505050 !important;
    font-weight: 700 !important;
}

.custom-h3 {
 	display: inline-block;
    position: relative;
    padding-right: 30px;
    font-size: 18px;
    color: #505050;
    font-weight: 600;	
}


.wrap {
	-webkit-border-radius: 15;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position:relative;

	&:before {
		opacity: 0;
		-webkit-border-radius: 15;
		-moz-border-radius: 15px;
		border-radius: 15px;
		content:"";
		position: absolute;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background: rgba(0,0,0,0.5);
		z-index:10;
		transition: opacity .3s ease;
		-moz-transition: opacity .3s ease;
		-webkit-transition: opacity .3s ease;
		-o-transition: opacity .3s ease;
	}

	&:hover::before {
		opacity: 0.8;
	}
}

.middle {
	z-index:11;
	opacity: 0;
	content:"";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
}

.wrap:hover .middle {
	opacity: 1;
}

.custom-card {
 	border: none;
 }

.card-custom-text {
 	margin-top: 10px;
 	color: #8d8d8d;
 	font-size: 13px;
 }

.card-custom-img-top {
	-webkit-border-radius: 10;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	object-fit: cover;

	@media (max-width: 576px) {
		height: 150px;
	}

	@media (min-width: 576px) {
		height: 200px;
	}

	@media (min-width: 768px) {
		height: 250px;
	}

	@media (min-width: 992px) {
		height: 150px;
	}

	@media (min-width: 1200px) {
		height: 200px;
	}
 }

.card-custom-img-slide-2 {
	-webkit-border-radius: 10;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	object-fit: cover;

	@media (max-width: 576px) {
		height: 300px;
	}

	@media (min-width: 576px) {
		height: 160px;
	}

	@media (min-width: 768px) {
		height: 220px;
	}

	@media (min-width: 992px) {
		height: 220px;
	}

	@media (min-width: 1200px) {
		height: 250px;
	}
 }

.card-custom-img-slide-4 {
	-webkit-border-radius: 10;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	object-fit: cover;

	@media (max-width: 576px) {
		height: 250px;
	}

	@media (min-width: 768px) {
		height: 120px;
	}

	@media (min-width: 992px) {
		height: 150px;
	}

	@media (min-width: 1200px) {
		height: 200px;
	}
 }


.post-image {
	-webkit-border-radius: 10;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
	object-fit: cover;

	@media (max-width: 576px) {
		height: 250px;
	}

	@media (min-width: 576px) {
		height: 400px;
	}

	@media (min-width: 768px) {
		height: 400px;
	}

	@media (min-width: 992px) {
		height: 400px;
	}

	@media (min-width: 1200px) {
		height: 400px;
	}
}

.card-custom-body{
  	/* arriba, derecha, abajo, izquierda */
 	padding: 10px 0px 0px 0px !important;
 }

.card-custom-title{
 	color: #d7b914 !important;
 	font-weight: 900;
 	font-size: 11px;
 	text-transform: uppercase;
 	letter-spacing: 2px;

	@media (max-width: 576px) {
		font-size: 14px;
	}

	&:hover {
		color: #9e8911 !important;
	}
 }

.card-custom-subtitle{
 	color: #505050;
 	font-weight: 900;
 	font-size: 16px;
 	text-transform: uppercase;
 	word-break: break-word;
 }

.card-custom-img-post {
	-webkit-border-radius: 15;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 100%;
	object-fit: cover;

	@media (max-width: 576px) {
	    height: 350px;
	}

	@media (min-width: 576px) {
	    height: 400px;
	}

	@media (min-width: 768px) {
	    height: 300px;
	}

	@media (min-width: 992px) {
	    height: 300px;
	}

	@media (min-width: 1200px) {
		height: 300px;
	}
 }

.card-custom-subtitle-post {
 	font-size: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	word-break: break-word;
 	line-height: 28.6px;
 }

.title-post {
 	font-size: 36px;
 	font-weight: 700;
 	text-transform: uppercase;
 	word-break: break-word;
 	line-height: 28.6px;

	@media (max-width: 768px) {
   		font-size: 24px;
 	}
}

.card-custom-text-post {
 	font-weight: 400;
 	font-size: 14px;
}

.custom-card-span {
	margin-right: 20px;
}

.img-sidebar {
	width: 100%;
	height: auto;
	-webkit-border-radius: 10;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.description {
	font-weight: normal;
	font-size: 13px;
	font-style: italic;

	@media (max-width: 576px) {
		font-size: 14px;
	}
}

.no-decoration-link {
	text-decoration: none !important;
	color: inherit;
}

.social-media {
	text-decoration: none !important;
	color: inherit;
	font-size: 20px;
	margin-right: 10px;
}

.categories-link {
	text-decoration: none !important;
	color: inherit;	
	font-weight: 700;
	font-size: 11px;

	@media (max-width: 576px) {
		font-size: 14px;
	}
}

.categories-separator {
	border-bottom: 1px solid #f0f0f0;	
}

.page-item.active > .page-link {
	border-radius: 30px;
	background-color: #d7b914;
	border-color: #d7b914;
	padding: .5rem .85rem;
	font-weight: 700;
	font-size: 14px;

	&:hover {
		color: white;	
	}
}


.page-item > .page-link {
	border-radius: 30px;
	background-color: #ffffff;
	border-color: #d7b914;
	border: 0px;
	color: #505050;
	font-weight: 700;
	font-size: 14px;

	&:hover {
		color: #d7b914;
	}
}


.footer {
	background-color: #262626;
}

.separator-footer{
    position: relative;
    text-align: left;
    margin-bottom: 15px;

    h3 {
		background-color: #262626;
		display: inline-block;
		position: relative;
		padding-right: 30px;
		font-size: 18px !important;
		color: white;
		font-weight: 600 !important;
    }

    &:before {
		content: '';
		border-style: solid;
		border-width: 0 0 1px 0;
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		padding-left: 50px;
		border-color: #616161;
    }
}

.footer-text {
	color: white;
}

.footer-links {
	color: #ffffff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	word-break: break-word;
	
	a {
		color: #ffffff;
		text-decoration: none !important;
		
		&:hover {
			cursor: pointer;
			color: #e3e3e3;
		}
	}

}


.ul-category {
	padding-inline-start: 20px;
}

.breadcrumb-item.active {
	font-weight: 600;
}

.breadcrumb {
	background-color: #fbfbfb;

	@media (max-width: 768px) {
		font-size: 12px;
	}
}

.breadcrumb-link {
	color: rgba(0,0,0,.5);

	&:hover {
		text-decoration: none !important;
		color: rgba(0,0,0,.5);
	}
}

.bg-full {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX( -50%);
		height: 100%;
		width: 100vw;
		background-color: #fbfbfb;
	}
}

.owl-custom-nav {
	.disabled {
		opacity: .5;
		cursor: default;
	}

	.owl-prev, .owl-next {
		border: none;
		font-size: 20px;
		background: #d6d6d600;
		cursor: pointer;
	}
}

.comment-box {
	border-radius: 8px;
	padding: 30px;
	background-color: #f5f5f5;
}

.img-round {
	border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

// Utilities
.gray-hover:hover {
	color: #808080;
}